// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#newuserdiv{
  position:relative;
  height:100%;
  a{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
  }
}